body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    background-color: white;
    margin: 0px;
    width: 485px;
    height: 650px;
    border-radius: 5px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
}

.post img {
    margin: 0px;
    width: 485px;
    height: 450px;
    display: flex;
}

.header-iconos {
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-iconos i {
    font-size: 24px;
    margin: 0;
}
.header-iconos h1 {
    font-size: 14px;
    margin: 0;
}
.header-texto {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-iconos p {
    font-size: 12px;
    margin: 0;
}
.header-iconos2 {
    font-size: 20px;
    padding: 5px;
}
.post-footer {
display: flex;
justify-content: space-between;
font-size: 20px;
margin: 10px;
}
.footer-texto {
    margin: 10px;
}